<div class="container-sm text-center">
    <div class="row align-items-center">
      <div class="col-md-6">
        <p>
          <img src="assets/icono/banner_02.jpg" class="img-fluid" >
        </p>
      </div>
      <div class="col-md-6 ">
        
        <p>
          Provenzal & Chic Muebles para Candy Bar, es una empresa dedicada a la fabricación y venta de muebles estilo candy bar a pedido. 
          Los muebles de candy bar consisten generalmente en muebles construidos con el propósito de decorar ambientes, ya sea exponiendo objetos de gran tamaño o de tamaño 
          reducido con un estilo particular; además, pueden ser estáticos como también muebles que presenten algún sistema de desplazamiento para facilitar su transporte. 
          Formalizada en 2016 frente al SII, se conforma por sus dueños, un matrimonio con dos hijas, que tienen el taller en su domicilio en la comuna de Maipú. 
          La empresa solo cuenta con redes sociales como WhatsApp, Facebook e Instagram en la parte digital. En los últimos años han visto un crecimiento en su número
           de pedidos, por lo que han decidido empezar a expandirse.

      </p>
      </div>
    </div>
  </div>
