<div class="container-sm text-center">
    <div class="row align-items-center">
      <div class="col-md-6">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dignissimos minima consectetur quibusdam praesentium officia, voluptatem non. Fuga nihil officia sapiente distinctio eum nulla, quaerat explicabo enim porro, a numquam!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo laudantium libero corporis veniam impedit reprehenderit? Fugiat consequatur, delectus quas ratione impedit cumque tempora eius. Fuga deserunt culpa debitis dicta ad!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel aut voluptatum voluptatibus reprehenderit, eos excepturi, dignissimos animi quasi natus nisi ut odit molestias sequi ipsam sint? Tempore at amet repellendus.
        </p>
      </div>
      <div class="col-md-6 ">
        <img src="assets/icono/banner_02.jpg" class="img-fluid" >
      </div>
    </div>
  </div>
