.contenedor-main{
    margin: 20px;
}
.centrar{
    color: #5a595f;
    text-align: center;
    padding: 70px 0;
    font-family: 'Roboto Condensed', sans-serif;;
}
.contenedor-productos{
    display: grid; /*grid sirve para acomodar estilo rejilla o tabla*/
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr)); /*acomoda en 4 columnas, 1fr es para que ocupen el mismo espacio*/
    grid-gap: 20px; /*espacio entre columnas*/
    /*text-align: center; /*alinea todo al centro*/

}

.producto{
    border: 1px solid #ccc;
    padding: 40px;
    width: 330px;
    height: 600px;
    position: relative;
    /*text-align: center;*/
    align-items: center;
    
}

.producto img{
    width: 250px;
    height: 350px;
    object-fit: cover; /*no deforma la imagen, sino la corta*/
    /*cursor: pointer;*/
    /*transition: all 0.7s ease-in-out;*/
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.producto img:hover{
    /*transform: scale(1.1);*/
}

.producto-titulo{
    margin-top: 10px;
    /*text-align: center;*/
}

.producto-precio{
    color: #ff4e00;
    font-weight: bold;
}

.producto:before{
    
}

.btn-primary{
    background: #7cbfb1;
    padding: 10px 60px;
    position: absolute;
    top: 515px;
    left: 60px;
    color:white;
}

.btn-sucess:hover{
    background: #1bd741;
    color: white;
}

.btn-sucess{
    background: rgba(72,194,169,255);
    padding: 10px 60px;
    color: white;
}

.bi-whatsapp{
    position: absolute;
    right: 50px;
}
.card-img-top{
    max-width: 100%;
  width: 414px;
  max-height: 100%;
  height: 414px;

object-fit: cover;
}
.card{
    max-width: 100%;
  width: 414px;
  max-height: 100%;
  height: 414px;
}