<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- fuente para slogan -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!-- fuente para los titulos -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<div class="contenedor">
<img src="assets\imagenes-diseño\imagen-incio.jpg" width="100%" height="auto"> 
    <div class="texto-encima">
        Atrévete a <br/> <!-- <br/> sirve para salto de linea -->
        &nbsp;&nbsp; Slogan creativo <!-- &nbsp; sirve para espaciado -->
    </div>
</div>
<nav>
    <div>
        <h1 class="centrar">Productos Destacados</h1>
        <app-producto></app-producto>
    </div>

    <div>
        <h1 class="centrar">Los más vendidos</h1>
        <app-producto></app-producto>
    </div>
</nav>
<div>
        <h1 class="centrar">Cómo comprar</h1>
</div>