
.centrar{
    color: #5a595f;
    text-align: center;
    padding: 70px 0;
    font-family: 'Roboto Condensed', sans-serif;;
}

.contenedor{
    position: relative;
}

.texto-encima{
    color: #5a595f;
    position:absolute;
    top: 18%;
    left: 16%;
    font-family: 'Lobster', cursive;
    font-size:50px;
}