<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- fuente para slogan -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!-- fuente para los titulos -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="8000">
                <img src="assets\imagenes-diseño\imagen-incio.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <img src="assets\imagenes-diseño\imagen-incio-2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets\imagenes-diseño\imagen-incio-3.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <div class="contenedor">
            <nav>
                <section>
                    <div>
                        <h1 class="centrar">Productos Destacados</h1>
                        <app-producto></app-producto>
                    </div>
                </section>
                <section>
                    <div>
                        <h1 class="centrar">Los más vendidos</h1>
                        <app-producto-mas></app-producto-mas>
                    </div>
                </section>
            
                <section>
                    <div>
                        <h1 class="centrar">Cómo comprar</h1>
                        <app-como-comprar></app-como-comprar>
                    </div>  
                </section>
            </nav>
        </div>
    </div>
</body>