<head>
    <!-- fuente para el titulo -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <section>
            <div>
                <h1 class="centrar">Pizarras</h1>
                    <main class="contenedor-main">
                        <div class="contenedor-productos">
                            <div class="producto" *ngFor="let pizarras of pizarras">
                                            
                                            <img src="{{pizarras.fotoProducto}}" alt="" class="producto-imagen">
                                            <div class="producto-descripcion">
                                                <h4 class="producto-titulo">{{pizarras.nombreProducto}}</h4>
                                                <span class="producto-precio">${{pizarras.precioProducto}}</span>
                                                
                                            </div>
                                                <div class="btn_ventana_emergente">
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        Descripción
                                                    </button>
                                                    
                                                    <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{pizarras.nombreProducto}}</h1>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <img src="{{pizarras.fotoProducto}}" alt="" class="producto-imagen">
                                                                    <h4 class="descripcion-imagen-emergente">
                                                                        {{pizarras.descripcionProducto}}
                                                                    </h4>
                                                                    <span class="producto-precio">${{pizarras.precioProducto}}</span>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    
                                                                    <i class="bi bi-whatsapp"></i>
                                                                    <li><a href="https://api.whatsapp.com/send?phone=56984302107&text=Hola%21%20Deje%20su%20mensaje."><button type="button" class="btn btn-sucess" >Ponerme en contacto</button></a></li>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            
                                        </div>
                            </div>
                            
                        </div>
                    </main>
                </div>
            </section>
        </nav>
</body>

