<head>
    <!-- fuente para el titulo -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <section>
            <div>
                <h1 class="centrar">Letras</h1>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col" *ngFor="let letras of letras">
                      <div class="card h-100">
                        <img src="{{letras.fotoProducto}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="producto-titulo">{{letras.nombreProducto}}</h5>
                          <h6  class="producto-precio">${{letras.precioProducto}}</h6>
                          <p class="card-text">{{letras.descripcionProducto}}</p>
                        </div>
                        <div class="card-footer">
                            <div class="modal-footer">
                                
                                
                                <i class="bi bi-whatsapp"></i>
                                <li><a href="https://api.whatsapp.com/send?phone=56984302107&text=Hola%21%20Deje%20su%20mensaje."><button type="button" class="btn btn-sucess" >Ponerme en contacto</button></a></li>
                            </div></div>
                      </div>
                    </div>
                    
                  </div>
</div>
</section>
</nav>
</body>
