.contenedor-main{
    margin: 20px;
}

.contenedor-productos{
    display: grid; /*grid sirve para acomodar estilo rejilla o tabla*/
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /*acomoda en 4 columnas, 1fr es para que ocupen el mismo espacio*/
    grid-gap: 20px; /*espacio entre columnas*/
    /*text-align: center; /*alinea todo al centro*/

}

.producto{
    border: 1px solid #ccc;
    padding: 100px;
    /*text-align: center;*/
    
}

.producto img{
    width: 250px;
    height: 350px;
    margin: 20px;
    object-fit: cover; /*no deforma la imagen, sino la corta*/
    cursor: pointer;
    transition: all 0.7s ease-in-out;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.producto img:hover{
    transform: scale(1.1);
}

.producto-titulo{
    margin-top: 10px;
    /*text-align: center;*/
}

.producto-precio{
    color: #ff4e00;
    font-weight: bold;
}

.producto:before{
    content: "Descripción";
    background: #7cbfb1;
    padding: 10px 60px;
    position: absolute;
    top: 600px;
    left: 150px;
    color:white;
}