<div class="contenedor-productos">
    <div class="producto">
        <img src="assets\productos\ima1.jpg" alt="" class="producto-imagen">
        <div class="producto-descripcion">
            <h3 class="producto-titulo">Mueble cilindro patitas</h3>
            <span class="producto-precio">$120.000</span>
        </div>
    </div>
    <div class="producto">
        <img src="assets\productos\ima2.jpg" alt="" class="producto-imagen">
        <div class="producto-descripcion">
            <h3 class="producto-titulo">Conjunto madera con alzadores</h3>
            <span class="producto-precio">$230.000</span>
        </div>
    </div>
    <div class="producto">
        <img src="assets\productos\ima3.jpg" alt="" class="producto-imagen">
        <div class="producto-descripcion">
            <h3 class="producto-titulo">Cajonera colores</h3>
            <span class="producto-precio">$130.000</span>
        </div>
    </div>
    <div class="producto">
        <img src="assets\productos\ima4.jpg" alt="" class="producto-imagen">
        <div class="producto-descripcion">
            <h3 class="producto-titulo">Pendon punta redonda</h3>
            <span class="producto-precio">$90.000</span>
        </div>
    </div>
</div>