<main class="contenedor-main">
    <div class="contenedor-productos">
        <div class="producto">
            <img src="assets\productos\ima1.jpg" alt="" class="producto-imagen">
            <div class="producto-descripcion">
                <h4 class="producto-titulo">Mueble cilindro patitas</h4>
                <span class="producto-precio">$120.000</span>
            </div>
                <div class="btn_ventana_emergente">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Descripción
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Mueble cilindro patitas</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="assets\productos\ima1.jpg" alt="" class="producto-imagen">
                                    <h4 class="descripcion-imagen-emergente">
                                        El mueble tiene una altura de 90 cm, diametro de 60cm, y cuatro patas, 
                                        encluye un florero, una base para postres y tres decoraciones.
                                    </h4>
                                    <span class="producto-precio">$120.000</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    
                                    <i class="bi bi-whatsapp"></i>
                                    <li><a href="https://api.whatsapp.com/send?phone=56984302107&text=Hola%21%20Deje%20su%20mensaje."><button type="button" class="btn btn-sucess" >Ponerme en contacto</button></a></li>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="producto">
            <img src="assets\productos\ima2.jpg" alt="" class="producto-imagen">
            <div class="producto-descripcion">
                <h4 class="producto-titulo">Conjunto madera con alzadores</h4>
                <span class="producto-precio">$230.000</span>
            </div>
        </div>
        <div class="producto">
            <img src="assets\productos\ima3.jpg" alt="" class="producto-imagen">
            <div class="producto-descripcion">
                <h4 class="producto-titulo">Cajonera colores</h4>
                <span class="producto-precio">$130.000</span>
            </div>
        </div>
        <div class="producto">
            <img src="assets\productos\ima4.jpg" alt="" class="producto-imagen">
            <div class="producto-descripcion">
                <h4 class="producto-titulo">Pendon punta redonda</h4>
                <span class="producto-precio">$90.000</span>
            </div>
        </div>
    </div>
</main>
