<div class="b-example-divider"></div>

<div class="container-fluid">
  <footer class="py-5 ">
    <div class="row ">
      <div class="col-md-3 col-md-2 mb-3">
        <div class="container">
            <a class="navbar-brand" href="#">
              <img src="assets/icono/logo_blanco.ico" alt="Bootstrap" width="150" height="120">
            </a>
          </div>
      </div>

      <div class="col-md-5 col-md-2 mb-3">
        <h5>Dirección</h5>
        <ul class="nav flex-column">
          <li><i class="bi bi-house-door-fill">  Mar del Norte #566, Maipú - Santiago, Chile</i></li>
          <li><i class="bi bi-at">provenzalchic2014@gmail.com</i></li>
          <li><i class="bi bi-watch">  Lunes a Viernes 09.00 a 18.30 hrs.</i></li>
        </ul>
      </div>

      <div class="col-md-4 col-md-2 mb-3">
        
          <h5>Información</h5>
          <p><a class="nav-link" aria-current="page" routerLink="/quienes-somos">Quiénes somos</a></p>
          <p>Desarrollado por equipo Candy - UTEM</p>
          <ul class="list-unstyled d-inline-flex ">
            <li class="ms-3"><a class="link-dark" href="https://www.instagram.com/provenzalchic_muebles/"><i class="bi bi-instagram"></i></a></li>
            <li class="ms-3"><a class="link-dark" href="https://www.facebook.com/Provenzal-Chic-Muebles-para-Candy-Bar-1473217546311631"><i class="bi bi-facebook"></i></a></li>
            <li class="ms-3"><a class="link-dark" href="https://api.whatsapp.com/send?phone=56984302107&text=Hola%21%20Deje%20su%20mensaje."><i class="bi bi-whatsapp"></i></a></li>
            
          </ul>
      </div>
    </div>

  </footer>
</div>
