<head>
    <!-- fuente para el titulo -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <section>
            <div>
                <main class="contenedor-main">
                    <div class="">
                        <h1 class="centrar">Todos los Productos</h1>
                        
                            <app-alzadores></app-alzadores>
                            <app-bandejas></app-bandejas>
                            <app-carros></app-carros>
                            <app-conjuntos></app-conjuntos>
                            <app-cubos></app-cubos>
                            <app-decoraciones></app-decoraciones>
                            <app-escaleras></app-escaleras>
                            <app-letras></app-letras>
                            <app-marcos></app-marcos>
                            <app-mesas></app-mesas>
                            <app-pizarras></app-pizarras>
                            <app-repisas></app-repisas>
                            
                        
                    </div>
            
                </main>
            </div>
        </section>
    </nav>
</body>
