<head>
    <!-- fuente para el titulo -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <section>
            <div>
                <h1 class="centrar">Todos los Productos</h1>
                <main class="contenedor-main">
                    <app-alzadores></app-alzadores>
                    <app-repisas></app-repisas>
                    <app-bandejas></app-bandejas>
                    <app-carros></app-carros>
                    <app-catalogo></app-catalogo>
                    <app-conjuntos></app-conjuntos>
                    <app-cubos></app-cubos>
                    <app-decoraciones></app-decoraciones>
                    <app-escaleras></app-escaleras>
                    <app-letras></app-letras>
                    <app-marcos></app-marcos>
                    <app-mesas></app-mesas>
                    <app-pizarras></app-pizarras>
                </main>
            </div>
        </section>
    </nav>
</body>
