<head>
    <!-- fuente para el titulo -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <section>
            <div class="container-lg">
                <h1 class="centrar">Escaleras</h1>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col" *ngFor="let escaleras of escaleras">
                      <div class="card h-100">
                        <img src="{{escaleras.fotoProducto}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="producto-titulo text-center">{{escaleras.nombreProducto}}</h5>
                          <h6  class="producto-precio">${{escaleras.precioProducto}}</h6>
                          <p class="card-text">{{escaleras.descripcionProducto}}</p>
                        </div>
                        <div class="card-footer">
                            <div class="modal-footer">
                                
                                
                                <i class="bi bi-whatsapp"></i>
                                <li><a href="https://api.whatsapp.com/send?phone=56984302107&text=Hola%21%20Quería%20consultar%20por%20el%20producto%20{{escaleras.nombreProducto}}."><button type="button" class="btn btn-sucess" >Ponerme en contacto</button></a></li>
                            </div></div>
                      </div>
                    </div>
                    
                  </div>
</div>
</section>
</nav>
</body>
