<head>
    <!-- fuente para el titulo -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <section>
            <div>
                <h1 class="centrar">Escaleras</h1>
                <main class="contenedor-main">
                    <div class="contenedor-productos">
                        <div class="producto">
                            <img src="assets\productos\ima1.jpg" alt="" class="producto-imagen">
                            <div class="producto-descripcion">
                                <h4 class="producto-titulo">Mueble cilindro patitas</h4>
                                <span class="producto-precio">$120.000</span>
                            </div>
                        </div>
                        <div class="producto">
                            <img src="assets\productos\ima2.jpg" alt="" class="producto-imagen">
                            <div class="producto-descripcion">
                                <h4 class="producto-titulo">Conjunto madera con alzadores</h4>
                                <span class="producto-precio">$230.000</span>
                            </div>
                        </div>
                        <div class="producto">
                            <img src="assets\productos\ima3.jpg" alt="" class="producto-imagen">
                            <div class="producto-descripcion">
                                <h4 class="producto-titulo">Cajonera colores</h4>
                                <span class="producto-precio">$130.000</span>
                            </div>
                        </div>
                        <div class="producto">
                            <img src="assets\productos\ima4.jpg" alt="" class="producto-imagen">
                            <div class="producto-descripcion">
                                <h4 class="producto-titulo">Pendon punta redonda</h4>
                                <span class="producto-precio">$90.000</span>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </section>
    </nav>
</body>
