<main class="contenedor-main">
    <div class="contenedor">

        <div class="contenedor-producto">
            <div class="box">
                <img src="assets\productos\ima5.jpg" alt="">
                <div class="capa">
                    <h2>consultar</h2>
                </div>
            </div>
            <div class="producto-descripcion">
                    <h4 class="producto-titulo">Alzador base madera</h4>
                    <span class="producto-precio">$20.000</span>
                </div>
        </div>

        <div class="contenedor-producto">
            <div class="box">
                <img src="assets\productos\ima6.jpg" alt="">
                <div class="capa">
                    <h2>consultar</h2>
                </div>
            </div>
        </div>

        <div class="contenedor-producto">
            <div class="box">
                <img src="assets\productos\ima7.jpg" alt="">
                <div class="capa">
                    <h2>consultar</h2>
                </div>
            </div>
        </div>    

        <div class="contenedor-producto">    
            <div class="box">
                <img src="assets\productos\ima8.jpg" alt="">
                <div class="capa">
                    <h2>consultar</h2>
                </div>
            </div>
        </div>

    </div>
</main>