<div class="container">
    <div class="box">
        <img src="assets\productos\5.jpg" alt="">
        <div class="capa">
            <h2>Hola mundo</h2>
        </div>
    </div>
    <div class="box">
        <img src="assets\productos\6.jpg" alt="">
        <div class="capa">
            <h2>Hola mundo</h2>
        </div>
    </div>
    <div class="box">
        <img src="assets\productos\7.jpg" alt="">
        <div class="capa">
            <h2>Hola mundo</h2>
        </div>
    </div>
</div>