<main class="contenedor-main">
    <div class="contenedor-productos">
        <div class="producto">
            <img src="assets\productos\ima5.jpg" alt="" class="producto-imagen">
            <div class="producto-descripcion">
                <h4 class="producto-titulo">Alzador base madera</h4>
                <span class="producto-precio">$20.000</span>
            </div>
        </div>
        <div class="producto">
            <img src="assets\productos\ima6.jpg" alt="" class="producto-imagen">
            <div class="producto-descripcion">
                <h4 class="producto-titulo">Conjunto carrito con alzadores</h4>
                <span class="producto-precio">$140.000</span>
            </div>
        </div>
        <div class="producto">
            <img src="assets\productos\ima7.jpg" alt="" class="producto-imagen">
            <div class="producto-descripcion">
                <h4 class="producto-titulo">Mesitas con fondo madera</h4>
                <span class="producto-precio">$130.000</span>
            </div>
        </div>
        <div class="producto">
            <img src="assets\productos\ima8.jpg" alt="" class="producto-imagen">
            <div class="producto-descripcion">
                <h4 class="producto-titulo">conjunto mesa con alzadores</h4>
                <span class="producto-precio">$160.000</span>
            </div>
        </div>
    </div>
</main>

