<nav class="navbar logo-bar">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/icono/logo.ico" alt="Bootstrap" width="150" height="120">
      </a>
    </div>
  </nav>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Catalogo
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/todos-productos">Todos los productos</a></li>
              <li><a class="dropdown-item" routerLink="/alzadores">Alzadores</a></li> 
              <li><a class="dropdown-item" routerLink="/bandejas">Bandejas</a></li>
              <li><a class="dropdown-item" routerLink="/carros">Carros</a></li>
              <li><a class="dropdown-item" routerLink="/conjuntos">Conjuntos</a></li>
              <li><a class="dropdown-item" routerLink="/cubos">Cubos</a></li>
              <li><a class="dropdown-item" routerLink="/decoraciones">Decoraciones</a></li>
              <li><a class="dropdown-item" routerLink="/escaleras">Escaleras</a></li>
              <li><a class="dropdown-item" routerLink="/letras">Letras</a></li>
              <li><a class="dropdown-item" routerLink="/marcos">Marcos</a></li>
              <li><a class="dropdown-item" routerLink="/mesas">Mesas</a></li>
              <li><a class="dropdown-item" routerLink="/pizarras">Pizarras</a></li>
              <li><a class="dropdown-item" routerLink="/repisas">Repisas</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/como-comprar">Como Comprar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/quienes-somos">Quiénes somos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>